$success-text : rgb(115, 197, 136);
$fail-text: rgb(185, 57, 48);

$success-bg: rgb(242, 245, 254);
$fail-bg: rgb(245, 245, 245);

$shadow-box:  0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

